<% values = [[t('administrate_ransack.filters.no'), false], [t('administrate_ransack.filters.yes'), true]] %>
<div class="filter filter-<%= field.to_s.parameterize %> <%= type %>">
  <%= form.label(options[:label], class: 'filter-label') %>
  <%= form.select(options[:param], values, include_blank: true) %>
</div>
