<div class="filter filter-<%= field.to_s.parameterize %> <%= type %>">
  <% field_key = model.ransackable_scopes.include?(field) ? field : "#{field}_eq" %>
  <% collection = (options.present? ? options[:collection] : []) || [] %>

  <%= form.label(label, class: 'filter-label') %>
  <%= form.select(field_key, collection, include_blank: true) %>
</div>
