<div class="filter filter-<%= field.to_s.parameterize %> <%= type %>">
  <% collection = options[:collection]&.respond_to?(:call) ? options[:collection].call : options[:collection] %>
  <%= form.label(options[:label], class: 'filter-label') %>
  <%= form.select(options[:param], collection || [], include_blank: true) %>
</div>
