<div class="filters-buttons">
  <%= form.submit t('administrate_ransack.filters.search'), name: nil %>
  <%= link_to t('administrate_ransack.filters.clear_filters'), clear_filters_path, class: 'btn-clear-filters' %>
</div>
