<div class="filters-buttons">
  <%= form.button t('administrate_ransack.filters.search'), name: nil, type: 'submit', class: 'btn-submit button--alt' %>
  <%= link_to t('administrate_ransack.filters.clear_filters'), request.path, class: 'btn-clear-filters' %>
</div>
