<% content_for :stylesheet do %>
  <style>
    .filters { padding: 0 20px; }
    .filters label { padding-right: 20px; }
    .filters label > span { font-weight: normal; }
    .filters-buttons { padding: 20px; }
    .filter-posts label { display: inline-block; }
    .filter-posts >.filter-label { display: block; }

    .main-content__body {
      display: inline-block;
      width: calc(100% - 320px);
      vertical-align: top;
    }

    [data-administrate-ransack-filters] {
      display: inline-block;
      padding-left: 10px;
      padding-top: 10px;
      width: 300px;
    }

    [data-administrate-ransack-filters] .filter {
      margin-bottom: 10px;
    }

    [data-administrate-ransack-filters] .filters-buttons {
      margin-top: 30px;
    }
  </style>
<% end %>

<section class="main-content__body main-content__body--flush">
  <%= render(
    "collection",
    collection_presenter: page,
    collection_field_name: resource_name,
    page: page,
    resources: resources,
    table_title: "page-title"
  ) %>

  <%= paginate resources, param_name: '_page' %>
</section>

<% attribute_types = {
  author: Administrate::Field::BelongsTo,
  title: Administrate::Field::String,
  category: Administrate::Field::Select.with_options(collection: Post.categories.to_a),
  published: Administrate::Field::Boolean,
  position: Administrate::Field::Number,
  position_eq: Administrate::Field::Number,
  tags: Administrate::Field::HasMany,
  dt: Administrate::Field::Date,
  created_at: Administrate::Field::DateTime,
  recents: Administrate::Field::DateTime,
  by_category: Administrate::Field::String
} %>

<%= render(
  'administrate_ransack/filters',
  attribute_types: attribute_types,
  options: { tags: 'select' }
) %>
